html {
    align-items: center;
    background-color: #30333d;
    color: #ffffff;
    display: flex;
    font: 18px/1 "FiraCode Nerd Font Mono";
    height: 100%;
    justify-content: center;
}

body {
    background-color: #292b34;
    box-shadow: 9px 9px 4px #1d1f2187;
    border-radius: 6px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15ch;
    min-width: 30px;
    padding: 3em;
}

p {
    margin: 0;
}

p span {
    color: #9ce5c0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em 0;
}


p #cursor {
    background-color: #9ce5c0;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}


